

    /* fonts */

@font-face {
    font-family: 'Maven Pro';
    src: url('../fnt/mavenpro-regular-webfont.eot');
    src: url('../fnt/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fnt/mavenpro-regular-webfont.woff') format('woff'),
         url('../fnt/mavenpro-regular-webfont.ttf') format('truetype'),
         url('../fnt/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Maven Pro';
    src: url('../fnt/mavenpro-bold-webfont.eot');
    src: url('../fnt/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fnt/mavenpro-bold-webfont.woff') format('woff'),
         url('../fnt/mavenpro-bold-webfont.ttf') format('truetype'),
         url('../fnt/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

 
    /* layout */

div.page,
div.header-container {
    font-family: 'Maven Pro';
    position: relative;
    min-width: 1000px;
    max-width: 1580px;
    width: 75%;
    margin: auto;   
}

div.page {
    min-height: 2000px;
    padding-bottom: 20px;
    font-size: 1em;
    transition: all 0.5s;
}

div.header {
    background-color: rgba(64, 64, 64, 0.5);
    height: 50px;
    position: relative;
}

div.header-container {
    transition: all 0.5s;
}

div.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    font-size: 0.5em;
    color: #aaa;
    text-align: center;
}

div.page-container {
    transition: all 0.2s;
    padding: 5px;
}

div.page-container.stretched {
    margin-left: 40%;
}


    /* settings */

div.settings {
    background-color: #313131;
    position: absolute;
    top: -50px;
    left: 0px;
    bottom: 0px;
    width: 0px;
    transition: all 0.2s;
    overflow: hidden;
}

div.settings.open {
    width: 40%;
}

div.settings-container {
    padding-top: 10px;
    display: none;
    white-space: nowrap;
}

div.settings.open div.settings-container {
    display: block;
}

div.settings-top-bar {
    height: 50px;
    background-color: #414141;
}

div.settings-section-title {
    position: relative;
    text-align: right;
    background-color: rgba(100, 100, 100, 0.3);
    padding: 5px;
}

table.settings {
    width: 100%;
    padding: 0.5em 0.5em 2em 0.5em;
}

td.settings-item-label {
    width: 50%;
    text-align: right;
    padding-right: 5px;
}

td.settings-item-value {
    width: 50%;
    text-align: left;
    padding-left: 5px;
}

span.settings-item-label {
    font-size: 0.9em;
}

div.settings-item-separator {
    height: 1px;
    border-top: 1px solid #414141;
    margin: 5px 0px;
}

select.video-device {
    padding: 4px 1.5em 4px 4px;
    vertical-align: middle;
    font-size: 20px;
    width: auto;
}

div.check-box.section {
    margin: 0px;
    float: left;
}

div.check-box.top-bar {
    margin: 10px;
    float: right;
    width: 90px;
    height: 30px;
}

div.check-box.top-bar div.check-box-button {
    line-height: 30px;
}

div.check-box.top-bar div.check-box-button span.check-box-text {
    font-size: 20px;
}

div.check-box.section div.check-box-button,
div.check-box.top-bar div.check-box-button {
    background-color: #515151;
}

div.check-box.on.section div.check-box-button,
div.check-box.on.top-bar div.check-box-button {
    background-color: #3498db;
}


    /* media queries */

@media all and (max-width: 1440px) {
    /* smaller screens */
    
    body {
        font-size: 17px;
    }
}

@media all and (max-width: 800px) {
    /* mobile devices */
    
    body {
        font-size: 25px;
    }
    
    div.page,
    div.header-container {
        width: 100%;
        min-width: 480px;
    }
    
    div.header {
        background-color: rgba(32, 32, 32, 1);
    }

    div.page-container.stretched {
        margin-left: 0px;
    }
    
    div.settings.open {
        width: 80%;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.8);
        background-color: rgba(48, 48, 48, 0.9);
    }
}


    /* links */
    
a {
    color: inherit;
    text-decoration: inherit;
}


    /* icons */

img.settings-button {
    margin: 2px;
    cursor: pointer;
    vertical-align: middle;
}

div.logo {
    float: right;
    white-space: nowrap;
    opacity: 0.86;
}

span.logo {
    vertical-align: middle;
    font-size: 27px;
    font-weight: bold;
    position: relative;
    top: 3px;
}

img.logo {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}
