

    /* basic */

* {
    padding: 0px;
    border: 0px solid black;
    margin: 0px;
    outline: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #dddddd;
    font-size: 22px;
    background-color: #212121;
}

