{% extends "base.html" %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ui.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base-site.css" />
{% endblock %}

{% block script %}
    {{super()}}
    <script type="text/javascript" src="{{STATIC_URL}}js/css-browser-selector.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ui.js"></script>
{% endblock %}

{% block body %}
    <div class="header">
        <div class="header-container">
            <div class="settings-top-bar">
                <img class="settings-button" src="{{STATIC_URL}}img/settings.png">
                <select class="video-device styled" id="videoDeviceSelect">
                    <option>USB Camera 2.0</option>
                    <option>A4Tech Camera</option>
                </select>
            </div>
            <div class="logo">
                <a href="/">
                    <span class="logo">motionEye</span>
                    <img class="logo" src="{{STATIC_URL}}img/motioneye.png">
                </a>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="settings">
            <div class="settings-container">
                <div class="settings-section-title"><input type="checkbox" class="styled section" id="motionEyeSwitch">General Settings</div>
                <table class="settings">
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">Show Advanced Settings</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled general" id="showAdvancedSwitch"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">motionEye Username</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="motionEyeUsernameEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">motionEye Password</span></td>
                        <td class="settings-item-value"><input type="password" class="styled general" id="motionEyePasswordEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Storage Device</span></td>
                        <td class="settings-item-value">
                            <select class="styled general" id="storageDeviceSelect">
                                <option>Local Disk</option>
                                <option>Network Share</option>
                            </select>
                        </td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Network Server</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="networkServerEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Share Username</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="networkUsernameEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Share Password</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="networkPasswordEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Share Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="networkShareNameEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Root Directory</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="rootDirectoryEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title"><input type="checkbox" class="styled section">Video Device</div>
                <table class="settings">
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">Camera Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled device" id="deviceNameEntry" placeholder="camera name..."></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Light Switch Detection</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled device" id="lightSwitchDetectSwitch"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Automatic Brightness</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled device" id="autoBrightnessSwitch"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Brightness</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="brightnessSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Contrast</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="contrastSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Saturation</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="saturationSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Hue</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="hueSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Video Resolution</span></td>
                        <td class="settings-item-value">
                            <select class="video-resolution styled device" id="resolutionSelect">
                                <option>640 x 480</option>
                                <option>1024 x 768</option>
                            </select>
                        </td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Video Rotation</span></td>
                        <td class="settings-item-value">
                            <select class="video-resolution styled device" id="rotationSelect">
                                <option>0&deg;</option>
                                <option>90&deg;</option>
                                <option>180&deg;</option>
                                <option>270&deg;</option>
                            </select>
                            <td><span class="help-mark">?</span></td>
                        </td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Frame Rate</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="framerateSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>

                <div class="settings-section-title"><input type="checkbox" class="styled section">Text Overlay</div>
                <table class="settings">
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">Left Text</span></td>
                        <td class="settings-item-value">
                            <select class="styled text-overlay" id="leftTextSelect">
                                <option>Camera Name</option>
                                <option>Timestamp</option>
                                <option>Custom Text</option>
                            </select>
                        </td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr>
                        <td class="settings-item-label"></td>
                        <td class="settings-item-value"><input type="text" class="styled text-overlay" id="leftTextEntry" placeholder="custom text..."></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">Right Text</span></td>
                        <td class="settings-item-value">
                            <select class="styled text-overlay" id="rightTextSelect">
                                <option>Camera Name</option>
                                <option>Timestamp</option>
                                <option>Custom Text</option>
                            </select>
                        </td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr>
                        <td class="settings-item-label"></td>
                        <td class="settings-item-value"><input type="text" class="styled text-overlay" id="rightTextEntry" placeholder="custom text..."></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>

                <div class="settings-section-title"><input type="checkbox" class="styled section">Video Streaming</div>
                <table class="settings">
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming Frame Rate</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled streaming" id="streamingFramerateSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming Quality</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled streaming" id="streamingQualitySlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Motion Optimization</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled streaming" id="motionOptimizationSwitch"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title"><input type="checkbox" class="styled section">Still Images</div>
                <table class="settings">
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Image File Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled still-images" id="imageFileNameEntry" placeholder="file name pattern..."></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Image Quality</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled still-images" id="imageQualitySlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Capture Mode</span></td>
                        <td class="settings-item-value">
                            <select class="styled still-images" id="captureModeSelect">
                                <option>Motion Triggered</option>
                                <option>Automated Snapshots</option>
                                <option>All Frames</option>
                            </select>
                        </td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Snapshot Interval</span></td>
                        <td class="settings-item-value"><input type="text" class="styled number still-images" id="snapshotIntervalEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title"><input type="checkbox" class="styled section">Motion Movies</div>
                <table class="settings">
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Movie File Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled motion-movies" id="movieFileNameEntry" placeholder="file name pattern..."></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Movie Quality</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled motion-movies" id="movieQualitySlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">Preserve Movies</span></td>
                        <td class="settings-item-value">
                            <select class="styled motion-movies" id="preserveSelect">
                                <option>For One Day</option>
                                <option>For One Week</option>
                                <option>For One Month</option>
                                <option>For One Year</option>
                                <option>Forever</option>
                            </select>
                        </td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title">Motion Detection</div>
                <table class="settings">
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Show Frame Changes</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection" id="showFrameChangesSwitch"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Frame Change Threshold</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled motion-detection" id="frameChangeThresholdSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Automatic Noise Detection</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection" id="autoNoiseDetectSwitch"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Noise Level</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled motion-detection" id="noiseLevelSlider"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Motion Gap</span></td>
                        <td class="settings-item-value"><input type="text" class="number styled motion-detection" id="gapEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Frames Captured Before</span></td>
                        <td class="settings-item-value"><input type="text" class="number styled motion-detection" id="preCaptureEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr class="advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Frames Captured After</span></td>
                        <td class="settings-item-value"><input type="text" class="number styled motion-detection" id="postCaptureEntry"></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title"><input type="checkbox" class="styled section">Motion Notifications</div>
                <table class="settings">
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">Email Address</span></td>
                        <td class="settings-item-value"><input type="text" class="styled notifications" id="emailAddressEntry" placeholder="email address..."></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                    <tr>
                        <td class="settings-item-label"><span class="settings-item-label">Phone Number</span></td>
                        <td class="settings-item-value"><input type="text" class="styled notifications" id="phoneNumberEntry" placeholder="phone number..."></td>
                        <td><span class="help-mark">?</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="page-container">
            {% block page_content %}{% endblock %}
        </div>
        <div class="footer">
            copyright &copy; Calin Crisan 2013
        </div> 
    </div>
{% endblock %}
