<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=Edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block style %}
            <link rel="stylesheet" type="text/css" href="{{static_path}}css/jquery.timepicker.css" />
            <link rel="shortcut icon" href="{{static_path}}favicon.ico" />
            <link rel="apple-touch-icon" href="{{static_path}}favicon.ico" />
        {% endblock %}
        {% block script %}
            <script type="text/javascript" src="{{static_path}}js/css-browser-selector.js"></script>
            <script type="text/javascript" src="{{static_path}}js/jquery.min.js"></script>
            <script type="text/javascript" src="{{static_path}}js/jquery.timepicker.min.js"></script>
            <script type="text/javascript" src="{{static_path}}js/jquery.mousewheel.js"></script>

            <script type="text/javascript">
                var staticPath = '{{static_path}}';
            </script>
        {% endblock %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
